body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  padding: 25px 50px;
}

.u-margin-top {
  margin-top: 16px;
}

.u-text-center {
  text-align: center;
}

.u-margin-bottom {
  margin-bottom: 16px;
}

.u-padding {
  padding: 16px;
}

.u-inline-block {
  display: inline-block;
}

.u-block {
  display: block;
}

.u-full-width {
  width: 100%;
}

.u-vertical-align-middle {
  vertical-align: middle !important;
}

.u-color-blue {
  color: blue;
}

.u-color-red {
  color: red;
}
